/* @import url('./photographer.css'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  height: 100svh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 10svh;
  height: 10%;
  column-gap: 2rem;
}
header a {
  display: flex;
  align-items: center;
}

h1 {
  color: #901c1c;
  margin-right: 4rem;
}

.logo {
  height: 3rem;
  margin-left: 4rem;
}

.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5rem;
  margin-top: 5rem;
  justify-items: center;
}

.photographer-card-wrapper a {
  text-decoration: none;
  justify-self: center;
  color: black;
}

.photographer-card-wrapper article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer-card-wrapper article h2 {
  color: #d3573c;
  font-size: 2rem;
  margin: 0.5rem;
  text-align: center;
  width: 100%;
}

.photographer-card-wrapper article img {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
}
.photographer-card-wrapper article .infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.3rem;
}
.infos .localisation {
  color: #901c1c;
  font-size: 0.9rem;
}
.infos .slogan {
  font-size: 0.7rem;
  font-weight: lighter;
}
.infos .prix {
  color: #757575;
  font-weight: 400;
  font-size: 0.6rem;
}

@media (max-width: 1000px) {
  .photographer-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 680px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  h1 {
    font-size: large;
    margin: 0;
  }

  .logo {
    height: 3rem;
    margin-left: 0;
    margin-top: 1rem;
  }
  .photographer-section {
    grid-template-columns: 1fr;
  }
}
