/* @import url('./photographer.css'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10svh;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 5rem;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  justify-items: center;
}

.photographer_card_wrapper a {
  text-decoration: none;
  justify-self: center;
  color: black;
}

.photographer_card_wrapper article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_card_wrapper article h2 {
  color: #d3573c;
  font-size: 2rem;
  margin: 0.5rem;
}

.photographer_card_wrapper article img {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
}
.photographer_card_wrapper article .infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.3rem;
}
.infos .localisation {
  color: #901c1c;
  font-size: 0.9rem;
}
.infos .slogan {
  font-size: 0.7rem;
  font-weight: lighter;
}
.infos .prix {
  color: #757575;
  font-weight: 400;
  font-size: 0.6rem;
}
